@import '../customVariables.scss';

.container {
    display: flex;
    height: 100vh;
    background: $primary;
}

.row {
    height: 90vh;
    align-items: center;
    background: $secondary;
    justify-content: center;
}

.col {
    h1 {
        align-items: center
    }
}

@import '~bootstrap/scss/bootstrap.scss';
